.nav {
  display: flex;
  flex-direction: row;
  background-color: blue;
}
.nav p {
  color: white;
  font-weight: 900;
  font-size: larger;
  margin-left: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  padding: 20px;
  position: relative;
  top: 200px;
}
.footer a {
  font-size: larger;
  color: white;
  font-weight: 800;
  text-decoration: none;
  margin: 20px;
}
